body {
    margin: 0;
    background-image: url("https://wallpapercrafter.com/desktop/121261-artwork-illustration-simple-simple-background-minimalism-black-dark-black-background-dark-background-colorful-fictional-fictional-character-fictional-characters-charac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
 
}

.siteheader {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #00000054;
    height: 10vh;
    box-shadow: 10px, 20px;
}



.welcome-tag {
    font-size: 2em;
    align-self: center;
    text-align: center;
    color: white;
    margin-top: 10vh;
    
}

.logo {
    height: 100%;
}
/************************************ POSTS FORM ************************************/
.post-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    background-color: #00000057;
    color: white;
    margin: 3vh;
    border: 1px solid black
}

.links {
    font-size: 1.3em;
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-one{
color: white;
text-decoration: none;
transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;

}

.link-two{
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    
    }
    
.link-three{
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    
    }
    
.link-four{
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    
    }
.link-five{
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    
    }
    
.link-six{
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
        
    }


.link-one:hover {
    color: #D744E8;
   
}
.link-two:hover {
    color: #712AAE;
   
}

.link-three:hover {
    color:  #220D4A;
   
}

.link-four:hover {
    color: #68D4DB ;
   
}

.link-five:hover {
    color: #0E1F48;
   
}
.link-six:hover {
    color: #0E1F48;
   
}







/************************************ POSTS FORM END ************************************/




/************************************ REGISTRATION FORM ************************************/
.register-container {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 2vh;
    background-color: #000000e5;
}

.register-form {
    display: flex;
    flex-direction: column;
}


.register-container input {
    margin: 10px;
    font-size: 20px;
    width: 40vh;
    height: 3vh;
    border-radius: 20px;
}
/************************************ REGISTRATION FORM END ************************************/





/************************************ LOGIN FORM ************************************/
.login-container {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    background-color: #000000e5;
    margin-top: 2vh;
}

.login-form {
    display: flex;
    flex-direction: column;
}


.login-container input {
    margin: 10px;
    font-size: 20px;
    width: 40vh;
    height: 3vh;
    border-radius: 20px;
}


.login-button {
    margin-top: 20px;
    height: 3vh;
    border-radius: 40px;
}
/************************************ LOGIN FORM END ************************************/



/************************************ POST FORM  ************************************/
.make-account {
    font-size: 2em;
    color: white;
    text-decoration: none;
    margin-top: 2vh;
}



.post-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9vh;
    
}



.post-search input {
    color: white;
    font-size: 2em;
    height: 4vh;
    width: 30vh;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}




.post-search input:active {
    border-top: none;
    border-left: none;
    border-right: none;
}

.create-post{
    font-size: 2em;
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 2vh;
}

.create-post:hover {
    color: red;
   
}




/************************************ POST FORM END ************************************/





/************************************ CREATE POST FORM  ************************************/
.create-post-container {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    color: white;
    display: flex;
    height: 40vh;
}

.post-form {
    display: flex;
    flex-direction: column;
    
}


.post-title {
    margin: 1vh;
    color: white;
    background-color: transparent;
    border: none;  
}


.post-title:focus::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -5px; 
    transition: 0.2s ease-out;
}
.post-message:focus::-webkit-input-placeholder   {
    font-size: .75em;
    position: relative;
    top: -5px; 
    transition: 0.2s ease-out;
}
.post-message {
    font-size: 1.2em;
    color: white;
    height: 50vh;
    background-color: transparent;
    border: none;
    text-align: left;
    vertical-align: top;
    
}

.post-title {
    height: 2em;
}

.create-post-button {
    margin-top: 4vh;
    color: white;
    background-color: rgba(56, 56, 56, 0.63);
    height: 4vh;
    width: 50%;
    align-self: center;
}

.checkbox {
    height: 2vh;
    width: 2vh;
    
    margin-left: 2vh;
}

/************************************ CREATE POST FORM END  ************************************/





/************************************ PROFILE  ************************************/
.please-login {
    font-size: 2em;
    color: white;
    text-decoration: none;
    text-align: center;
    
}


.profile-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.profile-link{
    font-size: 2em;
    color: white;
    text-decoration: none;
    transition: color  .3s ease-in-out, box-shadow .3s ease-in-out;
    
}
    
.profile-link:hover {
        color: red;
       
}



.profile-image {
    height: 36px;
    margin-right: 10px;
   
}




.profile-container span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
}
/************************************ PROFILE  END ************************************/


